<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/view/missingTemplate.cfm" responseMode="ExecuteURL" />
        </httpErrors>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="cfmHandler" />
            <add name="cfmHandler" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion10\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
