.modal-backdrop{
	z-index: 100;
}

.container{
	margin-top: 100px;
	width: 100%;
}
/*---------- header design ----------------*/
.navbar-default{
	width:100%;
}
.navbar-inverse {
    background-color: #222;
    margin-bottom: 0px;
    border-color: #080808;
}

span#seller {
    position: absolute;
    margin: 0 30%;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: 700;
    font-style: italic;
    background: #ffc3c3;
    padding: 5px;
    border-radius: 5px;
    color: brown;
    cursor: pointer;
}


/* search bar design */
.suggestionBox {
    border: 1px solid black;
    display: none;
    background-color: white;
    color: black;
    height: 200px;
    position: absolute;
    width: 91%;
    margin-top: 35px;
}

/*labels in form */
.formLabel{
	width : 10em;
	height : 1em;
	font-size : 1.5em;
}
#search{
    display:block;
    text-align:center;
}

#searchBox li {
    /* text-decoration: none; */
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1em;
}

#searchBox {
	width : 50%;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -22px;
}
/* search bar design */


/* product and product description */

p {
	margin: 0px;
	
}
div.product{
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}

img.productDetailImage{
	width : 200px;
	height : 200px;
}


span#Message {
    color: red;
    background: greenyellow;
    font-size: 1.2em;
    display: none;
    padding: 5px 5px;
    position: absolute;
    margin-top: 10px;
    font-family: cursive;
    border-radius: 5px;
    font-weight: bold;
}

/* product description end */


/*Register user form and Log In user form */
form#registerUser, form#loginUser{
	position : relative;
	margin-left : 10%;
	margin-right : 10%;
	margin-bottom : 50px;
	border : 0.1em solid black;
	padding-left : 10em;
	padding-right : 10em;
	padding-top : 2em;
	padding-bottom : 2em;
	z-index= 45;
}
.legend{
	font-size : 2em;
	font-style: italic;
	font-weight: bold;
}

.inputfield{
	background-color: lightblue;
	width : 30em;
	height : 3em;
}
/*buttons in form */
#register,#reset,#login,#resetPassword,#cardPay,#addressSubmit{
	width : 15em;
	height : 3em;
}

#resetPassword{
	border : transparent;
	color : blue;
}


img.productImage{
	display: inline;
    position: absolute;
    margin-left: 0;
    margin-top: 0px;
}

img.purchaseHistory{
	width: 100px;
	height: 100px;	
}


span#logInError {
    margin-left: 220px;
    margin-top: -60px;
    font-size: 1.5em;
    line-height: 2em;
    color: red;
}

/* registration form errors */
span#name {
    position: absolute;
    margin-left: 645px;
    margin-top: -45px;
    font-size: 1.5em;
    line-height: 2em;
}

span#email {
    margin-left: 645px;
    margin-top: -45px;
}

span#mobileNumber {
    margin-left: 645px;
    margin-top: -45px;
}

span#password {
    margin-left: 645px;
    margin-top: -45px;
}


/*----------------------------- cart ------------------------- */

div.productItem {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
    /* margin: 5px 0; */
    height: 200px;
}
button.removeItem {
    display: inline;
    position: absolute;
        margin-top: 40px;
    margin-left: 605px;
}
button.updateButton {
    position: absolute;
    margin-left: 605px;
    height: 2em;
    margin-top: -55px;
    border: 1px solid transparent;
    border-radius: 5px;
    display:none;
}

img.productImage{
	width : 150px;
	height : 150px;
}

input.productCount {
    display: inline;
    float: none;
    position: absolute;
    margin-top: -107px;
    width: 135px;
    height: 40px;
    margin-left: 605px;
    background-color: lightgray;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid lightblue;
    background: #dddbe2;
}

div.product {
    font-size: 1.2em;
    color: black;
    margin-left: 200px;
    text-decoration: none;
}

span.productName {
    margin-left: 0px;
    margin-top: 0;
    display: inline;
    position: relative;
    font-size: 1.5em;
}

span.productBrand {
    display: block;
    position: relative;
    margin-left: 0px;
    margin-top: 0;
    font-size: 1.5em;
}


span.productDescription {
    display: inline;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.2em;
    line-height: 2em;
}

input#orderProducts {
    width: 100%;
    margin-bottom: 25px;
    background: #3599a5;
}

span.error.productError {
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
}

/* --------------------cart end ---------------------------*/

input.checkbox {
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
    /* position: absolute; */
}


div#creditCard,div#cash{
	display: none;
}

div#registerMessage {
    display : none;
    position: relative;
    margin-left: 245px;
    font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;

}
span.radio{
	line-height : 2em;
	font-size : 1.5em;
    display: inline;
    margin: 1em 18em 1em 0;
}

span.error{
	display : none;
	position : absolute;
	font-size : 1.5em;
	line-height: 2em;
	color : red;
}
textarea{
	width : 30em
}

div.col{
	margin : 5px;
}

/*invoice design */
	div.invoiceBox{
		padding-bottom: 20px;
		position: relative;
		height: 800px;
	}
	div#invoice {
	    width: 80%;
	    /* height: 100%; */
	}
	
	div.invoice {
	   
	    display: inline;
	    position: absolute;
	}
	
	div.invoiceHeading {
	    width: 250px;
	    height: 150px;
	}
	
	div.invoice.orderNumber {
    margin-top: 30px;
    margin-left: -30px;
	}
	
	div.invoice.orderDate {
    margin-top: 85px;
    margin-left: -30px;
	}
	
	div.contact {
	    margin-left: 800px;
	    width: 350px;
	    height: 150px;
	}
	div.userInfo {
	    width: 80%;
	    margin-top: 150px;
	}
	
	div.invoice.billTo {
	    height: 150px;
	    margin-top: 0px;
	    margin-left: 0px;
	}
	
	div.invoice.shipTo {
	    margin-left: 370px;
	    height: 150px;
	}
	
	table#invoiceContent {
    margin-top: 300px;
    width: 275%;
    border: 1px solid black;
	}
	
	table#invoiceContent td {
    padding: 10px;
	}
	table#invoiceContent tr {
	
	}
	
/*invoice design end */
/* product purchase history */
span.span-Value {
    position: absolute;
    margin-top: 0px;
    margin-left: 20px;
}

div.col-1,div.col-2,div.col-3,div.col-4{
	font-weight: bold;
	padding-top: 5px;
}
.row.order-header {
    background: lightgrey;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2em
}
.row.order-sub-header {
    background: aqua;
    height: 30px;
    font-size: 1.1em;
    font-weight: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.row.order-content {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

/*end of product purchase history */
	
/* Profile page */
form#img-upload {
    margin-top: 0px;
    margin-left: 20px;
    display: none;
}

p#img-change {
    margin-left: 20px;
}


/* Profile page end */

/*search filter bar setting */

.search-filters {
    margin-left: 40px;
    position: fixed;
}

.header {
    margin-left: -20px;
}

.content {
    margin-bottom: 50px;
}

input#price {
    border: 0;
    color: #f6931f;
    position: absolute;
    margin-top: -25px;
    margin-left: 75px;
    font-weight: bold;
}

div#search-slider {
    margin-right: -100px;
}


/*search filter bar setting end */


/*Carousel Design */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

 .carousel-inner>.item>a>img, 
 .carousel-inner>.item>img,
 .img-responsive, .thumbnail a>img,
 .thumbnail>img{
 	height : 450px;
 }
 /*Carousel Designn end */
 
 
 /*---------- seller page design -------*/
select#productCategory {
    /* position: absolute; */
    margin-left: 30px;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    padding: 10px;
    font-size: 1.1em;
}
select#productSubCategory {
    width: 325px;
    height: 40px;
    padding: 10px;
    margin-left: 50px;
    font-size: 1.1em;
}

input.insertProduct, textarea.insertProduct {
    display: block;
    margin-left: 335px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 325px;
    border: 1px solid lightblue;
}

input#productImageLocation {
    border: 1px solid transparent;
}

label.insertProduct {
    position: absolute;
    margin-left: 30px;
}

div.box {
    display: block;
    margin-top: 5px;
}

img.sellerProductImage {
    height: 150px;
    width: 150px;
}

.row.sellerProduct {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    font-size: 1.1em;
}

a.deleteProduct,a.editProduct,a.updateProduct {
    border: 1px solid rebeccapurple;
    width: 75px;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
    position: absolute;
}

a.deleteProduct{
	margin-left: 80px;
}

a.updateProduct{
	display: none;
}

.row.editSellerheader {
    background: lightblue;
    border-radius: 5px;
    height: 50px;
    line-height: 3em;
    font-size: 1.2em;
}

p.dialog-message,p#success-message {
    display: none;
}


input.insert-quantity,input.insert-price,input.insert-discount{
    display: none;
    width: 75%;
}

div.success-message{
    display: none;
}
 /*--------- seller page end ----------------*/
 
 /* --------------- cart page ---------------*/
 .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    display: block;
    text-align: center;
    width: 100%;
}

@media screen and (min-width : 1200px) {
	#register,#login,#cardPay{
		margin-left : 15em;
	}
	#reset{
		margin-left : 5;
	}
}


/*address page*/
@media {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

div#addresses {
    height: 400px;
    width: 470px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid red; */
    display: block;
    background: rgb(227, 245, 245);
}

row.addressBox {
    text-align: center;
    color: rgb(61, 74, 36);
    background: #99ddff;
    margin: 50px;
    width: 400px;
    font-size: 1.2em;
}
form#addressForm {
    margin-left: -125px;
}

input.addressField,textarea.addressField{
	border: 1px solid lightblue;
	width : 30em;
	height : 3em;
}

button.select,button.setDefault,button.remove {
    display: inline-block;
    width: 110px;
    border-radius: 0px;
    color: #581d00;
}

span.addressId,span.addressType{
	display: none;
}



/* --------- sellers page design --------*/