.modal-backdrop{
	z-index: 100;
}

.container{
	width: 100%;
}
/*---------- header design ----------------*/
.navbar-default{
	width:100%;
}
.navbar-inverse {
    background-color: #222;
    margin-bottom: 0px;
    border-color: #080808;
}

#seller {
    position: absolute;
    margin: 0 21em;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: 700;
    font-style: italic;
    background: #ffc3c3;
    padding: 0.3em;
    /* border-radius: 0px; */
    color: #a74341;
    cursor: pointer;
}

#seller:hover {
    box-shadow: 0 0 0.7em 0.5em #861919;
    text-shadow: 0.05em 0.05em 0 #673b44;
}

/* search bar design */
.suggestionBox {
    border: 0.1em solid #cccccc;
    display: none;
    background-color: #f1f0f0;
    color: #0c0c0c;
    height: 12em;
    position: absolute;
    width: 41em;
    margin-top: 2.4em;
}

/*labels in form */
.formLabel {
    width: 10em;
    height: 1em;
    color: #27044a;
    font-size: 1.5em;
}

#search{
    display:block;
    text-align:center;
}

#searchBox li {
    /* text-decoration: none; */
    list-style-type: none;
    text-align: left;
    padding-left: 1em;
    font-size: 1.1em;
}

#searchBox {
	width : 45em;
}

#searchButton{
    margin-left: -1.5em;
    z-index: 2;
}
/* search bar design */


/* product and product description */
.thumbnails {
    height: 8em;
    width: 8em;
    margin: 2em 2.5em;
    display: inline-block;
}

.productDetailImage {
    width: 12em;
    height: 12em;
}

#productDetailImage {
    width: 21em;
    height: 20em;
    margin: 1em;
    border: 0.1em solid #040404;
    box-shadow: 0 0 1em 0.5em #884413;
}

span.Message {
    color: red;
    background: greenyellow;
    font-size: 1.2em;
    display: none;
    padding: 5px 5px;
    position: absolute;
    margin-top: 10px;
    font-family: cursive;
    border-radius: 5px;
    font-weight: bold;
}

div#imageList {
    position: fixed;
    top: 115px;
    height: 465px;
    border: 1px solid #d2c1c1;
    width: 200px;
    overflow-y: auto;
}



div#otherSellers {
    text-align: right;
    padding: 10px;
    font-size: 1.2em;
}

/* product description end */


/*Register user form and Log In user form */
form#registerUser, form#loginUser {
    position: relative;
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    border: 0.1em solid #e4f3f1;
    box-shadow: 0px 0px 10px 5px #2e383c;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.legend {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    color: #941818;
}

input#reset {
    background: #337ab7;
    color: white;
}
.inputfield {
    background-color: #f5f5f5;
    padding-left: 1em;
    width: 30em;
    height: 3em;
    color: #0e0101;
    border: 0.1em solid #D4D4D4;
}
/*buttons in form */
#register,#reset,#login,#resetPassword,#cardPay,#addressSubmit{
	width : 15em;
	height : 3em;
}

#resetPassword{
	border : transparent;
	color : blue;
}


img.productImage {
    display: inline;
    position: absolute;
    width: 10em;
    height: 10em;
}
img.purchaseHistory{
	width: 100px;
	height: 100px;	
}


span#logInError {
    margin-left: 220px;
    margin-top: -60px;
    font-size: 1.5em;
    line-height: 2em;
    color: red;
}

/* registration form errors */
span#name,span#email,span#mobileNumber,span#password,span#company{
   padding-left: 35px;
}


/*----------------------------- cart ------------------------- */

.productItem {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 0.1em solid #848282;
    height: 15em;
}
.removeItem {
    display: inline-block;
    position: absolute;
    background: lightgrey;
    color: #a913a9;
    border: none;
    font-weight: 600;
    margin-top: 2.2em;
    margin-left: 41em;
}

.updateButton {
    position: absolute;
    margin-left: 52.5em;
    height: 2em;
    margin-top: -4em;
    border: 0.1em solid transparent;
    display: none;
}


.productCount {
    display: inline;
    float: none;
    position: absolute;
    margin-top: -6em;
    width: 8em;
    height: 2.1em;
    margin-left: 43.8em;
    background-color: #d2d2d2;
    text-align: center;
    font-size: 1.2em;
    border: 0.1em solid #bae3f1;
    background: #dddbe2;
}

.product{
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    margin-left: 0px;
}

.cartProduct {
    font-size: 1.2em;
    color: #080808;
    text-decoration: none;
    margin-left: 12em; 
}

span.productName {
    margin-left: 0px;
    margin-top: 0;
    display: inline;
    position: relative;
    font-size: 1.5em;
}

span.productBrand {
    display: block;
    position: relative;
    margin-left: 0px;
    margin-top: 0;
    font-size: 1.5em;
}


span.productDescription {
    display: inline;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.2em;
    line-height: 2em;
}

input#orderProducts {
    width: 100%;
    margin-bottom: 25px;
    background: #3599a5;
}

span.error.productError {
    position: absolute;
    margin-top: 40px;
    margin-left: 100px;
}

/* --------------------cart end ---------------------------*/

input.checkbox {
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
    /* position: absolute; */
}


div#creditCard,div#cash{
	display: none;
}

div#registerMessage {
    display : none;
    position: relative;
    margin-left: 245px;
    font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;

}
span.radio{
	line-height : 2em;
	font-size : 1.5em;
    display: inline;
    margin: 1em 18em 1em 0;
}

span.error{
	display : none;
	position : absolute;
	font-size : 1.5em;
	line-height: 2em;
    padding-left: 35px;
	color : red;
}
textarea{
	width : 30em
}


/*invoice design */
	div.invoiceBox {
    padding-bottom: 20px;
    position: relative;
    height: 800px;
    margin-top: 50px;
    background: lightgoldenrodyellow;
    /* font-size: 1.2em; */
}
	div#invoice {
	    width: 80%;
	    /* height: 100%; */
	}
	
	div.invoice {
	   
	    display: inline;
	    position: absolute;
	}
	
	div.invoiceHeading {
	    width: 250px;
	    height: 150px;
	}
	
	div.invoice.orderNumber {
    margin-top: 30px;
    margin-left: -30px;
	}
	
	div.invoice.orderDate {
    margin-top: 60px;
    margin-left: -30px;
    }
	
	div.contact {
	    margin-left: 800px;
	    width: 350px;
	    height: 150px;
	}
	div.userInfo {
	    width: 80%;
	    margin-top: 150px;
	}
	
	div.invoice.billTo {
	    height: 150px;
	    margin-top: 0px;
	    margin-left: 0px;
	}
	
	div.invoice.shipTo {
	    margin-left: 370px;
	    height: 150px;
	}
	
	table#invoiceContent {
    margin-top: 300px;
    width: 250%;
    border: 1px solid black;
	}
	
	table#invoiceContent td {
    padding: 10px;
	}
	table#invoiceContent tr {
	
	}
	
/*invoice design end */
/* product purchase history */
span.span-Value {
    position: absolute;
    margin-top: 0px;
    margin-left: 20px;
}

div.col-1,div.col-2,div.col-3,div.col-4{
	font-weight: bold;
	padding-top: 5px;
}
.row.order-header {
    background: lightgrey;
    height: 50px;
    font-size: 1.2em
}
.row.order-sub-header {
    background: aqua;
    height: 30px;
    font-size: 1.1em;
    font-weight: 10px;
    margin-bottom: 5px;
}
.row.order-content {
    width: 90%;
    margin-left: 5%;
}

/*end of product purchase history */
	
/* Profile page */
form#img-upload {
    margin-top: 0px;
    margin-left: 20px;
    display: none;
}
img#profilePicture {
    width: 200px;
    height: 200px;
}

p#img-change {
    margin-left: 20px;
}


/* Profile page end */

/*search filter bar setting */

.search-filters {
    margin-left: 40px;
    position: fixed;
}

.header {
    margin-left: -20px;
}

.content {
    margin-bottom: 50px;
}

input#price {
    border: 0;
    color: #f6931f;
    position: absolute;
    margin-top: -25px;
    margin-left: 85px;
    font-weight: bold;
}

div#search-slider {
    width: 230%;
    margin-left: -15px;
}


/*search filter bar setting end */


/*Carousel Design */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

 .carousel-inner>.item>a>img, 
 .carousel-inner>.item>img,
 .img-responsive, .thumbnail a>img,
 .thumbnail>img{
 	height : 450px;
 }
 /*Carousel Designn end */
 
 
 /*---------- seller page design -------*/
select#productCategory ,select#productCategorySelect{
    /* position: absolute; */
    margin-left: 30px;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    padding: 10px;
    font-size: 1.1em;
}
select#productSubCategory {
    width: 325px;
    height: 40px;
    padding: 10px;
    margin-left: 50px;
    font-size: 1.1em;
}

input.insertProduct, textarea.insertProduct {
    display: block;
    margin-left: 335px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 325px;
    border: 1px solid lightblue;
}

input#productImageLocation {
    border: 1px solid transparent;
}

label.insertProduct {
    position: absolute;
    margin-left: 30px;
}

div.box {
    display: block;
    margin-top: 5px;
}

img.sellerProductImage {
    height: 150px;
    width: 150px;
}

.row.sellerProduct {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    font-size: 1.1em;
}

a.deleteProduct,a.editProduct,a.updateProduct {
    border: 1px solid rebeccapurple;
    width: 75px;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
    position: absolute;
}

a.deleteProduct{
	margin-left: 80px;
}

a.updateProduct{
	display: none;
}

.row.editSellerheader {
    background: lightblue;
    border-radius: 5px;
    margin-top: 10px;
    height: 50px;
    line-height: 3em;
    font-size: 1.2em;
}

div#productUpdateDelete{
    display: none;
}
div#productInsert{
    display: none;
}
p.dialog-message,p#success-message {
    display: none;
}

.hide{
    display: none;
}

.inherit{
    display: inherit;
}
input.insert-quantity,input.insert-price,input.insert-discount{
    display: none;
    width: 75%;
}

 /*--------- seller page end ----------------*/
 
 /* --------------- cart page ---------------*/
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    display: block;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
}

@media screen and (min-width : 1200px) {
	#register,#login,#cardPay{
		margin-left : 15em;
	}
	#reset{
		margin-left : 5;
	}
}


/*address page*/
@media {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

div#addresses {
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid red; */
    display: block;
    background: rgb(227, 245, 245);
}

div.addressBox {
    position: relative;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    color: rgb(61, 74, 36);
    background: #99ddff;
    /* margin: 0px; */
    width: 90%;
    font-size: 1.2em;
     text-transform: capitalize;
}

.itemPrice {
    display: inline-block;
    position: absolute;
    margin-left: 35em;
    width: 7em;
    height: 1.7em;
    font-size: 1.5em;
    text-align: center;
    line-height: 35px;
    font-style: italic;
    font-weight: bold;
    color: #050592;
    background: #dddbe2;
}

form#addressForm {
    margin-top: 20px;
}

input.addressField,textarea.addressField{
	border: 1px solid lightblue;
	width : 30em;
	height : 3em;
}

button.select,button.setDefault,button.remove {
    display: inline-block;
    width: 110px;
    border-radius: 0px;
    color: #581d00;
}

span.addressId,span.addressType,span.isUsed{
	display: none;
}

img#insertproductImage {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 375px;
    left: 745px;
    display: none;
}

span#totalAmount {
    /*border: 1px solid red;*/
    background: #3599a5;
    height: 45px;
    display: block;
    width: 275px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-left: 605px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
}

label.error {
    margin-left: 335px;
    color: red;
    font-weight: 500;
}

label#productCategory-error {
    margin-left: -250px;
    position: absolute;
    margin-top: 60px;
}
/* --------- sellers page design --------*/

/* --------- seller design product category ------*/

div#categoryInsert{
    display: none;
}

fieldset.categoryInsert {
    margin: 25px 100px;
}

label.insertCategory {
    width: 250px;
}

input.insertCategory {
    width: 250px;
    border: 1px solid lightblue;
    height: 35px;
    margin-right: 50px;
}

input.insertCategoryButton{
    width: 200px;
    height: 30px;
    font-size: 1.2em;
}
div.box {
    display: block;
    /* margin-top: 5px; */
    margin-left: 35px;
    margin-top: 20px;
}
/*========== seller design product category end =====*/


/* ------- status page of seller */

select#productBySeller {
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    height: 300px;
}

input#searchSellerProduct {
    width: 80%;
    height: 35px;
    background: lightgoldenrodyellow;
}

option.sellerProduct {
    padding: 5px;
    line-height: 1.5em;
    font-family: sans-serif;
}

div#salesChart {
    margin-top: 35px;
    margin-left: 305px;
        width: 630px;
    height: 300px;
    border: 1px solid #efdfdf;
    position: absolute;
    box-shadow: inset 1px 1px 9px 2px aliceblue;
}


label{
    font-size: 1.2em;
}

input#saleDate {
    height: 35px;
    margin-left: 30px;
    width: 470px;
    text-align: center;
}

p.graphMessage {
    background: lightblue;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5em;
    margin-top: 35px;
    margin-left: 30px;
    width: 570px;
    text-align: center;
}

.col-md-10.popularProducts li {
    font-size: medium;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 5px 15px;
}

.col-md-10.popularProducts p {
    font-size: 1.5em;
    color: firebrick;
    font-weight: bold;
}

.row.sellerStatusContent {
    margin-top: 35px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 470px;
}
/*======== status page of seller ends */


span#otherSellersHeader {
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    color: #1d00ff;
    background: lightblue;
    border-radius: 0px;
    line-height: 2.5em;
}

/*------ missingTemplate -----*/

.countdown {
    color: #dc5252;
}

.center {
    color: #0f0f8c;
    margin: 3.5em;
    font-size: 3em;
}